:root {
    --palette-primary: #293594;
    --palette-secondary: #90bc29;
    --palette-text: #f2f2f2;
    --palette-text-invert: #0d0d0d;
    --palette-dropdown-title: rgba(0, 0, 0, 0.055);
    --palette-border: lightgray;
    --palette-border-focused: #8db6c4;
}

/*#region CSS only style*/
.css-custom-select {
    min-width: 350px;
    position: relative;
}

.css-custom-select::before, .css-custom-select::after {
    --size: 0.5rem;
    position: absolute;
    content: "";
    right: 1rem;
    pointer-events: none;
}

.css-custom-select::before {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-bottom: var(--size) solid black;
  border-top: var(--size) solid transparent;
  top: 10%
}

.css-custom-select::after {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-bottom: var(--size) solid transparent;
  border-top: var(--size) solid black;
  top: 60%
}

.css-custom-select select {
    appearance: none;
    font-size: 1.15rem;
    padding: 0.675em 6em 0.675em 1em;
    background-color: #fff;
    border: 1px solid #caced1;
    border-radius: 0.25rem;
    color: #000;
    cursor: pointer;
    width: 100%;
}
/*#endregion*/

/*#region CSS-JS style*/
.css-js-custom-select {
    margin-top: 3rem;
    position: relative;
    display: inline-block;
    width: 300px;
    max-width: 100%;
    --width: width;
}

.css-js-custom-select button {
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.675em 1em;
    border: 1px solid #caced1;
    border-radius: 0.25rem;
    background-color: white;
    cursor: pointer;
}

.css-js-custom-select button .arrow {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #000;
    transition: transform ease-in-out 0.3s;
}

.css-js-custom-select .select-dropdown {
    position: relative;
    top: 100%;
    width: var(--width);
    border: 1px solid #caced1;
    border-radius: 0.25rem;
    background-color: white;
    list-style: none;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    max-height: 200px;
    overflow-y: auto;
    padding: 10px;
    margin: 0;
}

.select-dropdown::-webkit-scrollbar {
    width: 7px;
}

.select-dropdown::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 25px;
}

.select-dropdown::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 25px;
}

.select-dropdown li {
    padding: 10px;
    cursor: pointer;
}

.select-dropdown li.selected {
    background-color: #f2f2f2;
    border-radius: 4px;
    font-weight: bold;
}

.select-dropdown li:hover,
.select-dropdown li:focus {
    background-color: #f2f2f2;
    border-radius: 4px;
}

.select-dropdown.hidden {
    display: none;
}
/*#endregion*/

/*#region My Dropdown */

.elsy-dropdown {
    /*Inputs*/
    --font-size: 1rem;                                          /* размер шрифта */
    --arrow-size: 0.5rem;                                       /* размер стрелки */
    --background-selector: var(--palette-dropdown-title);       /* цвет титульной кнопки */
    --border-radius: 5px;                                       /* округление углов элементов */
    --color-border: var(--palette-border);                      /* цвет рамки */
    --color-border-focused: var(--palette-border-focused);      /* цвет рамки в фокусе*/
    --color-hovered: var(--palette-text);                       /* цвет текста выделенных элементов */
    --background-hovered: var(--palette-primary);               /* цвет фона выделенных элементов */
    --background-scrollbar-track: #f1f1f1;                    /* фон скроллбара */
    --background-scrollbar-thumb: #ccc;                       /* цвет ползунка скроллбара */

    display: inline-block;
    font-size: var(--font-size);
    border: 1px solid var(--palette-border);
    border-radius: var(--border-radius);
    width: 300px;
    --font: font;
}

.elsy-dropdown button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 5px;
    border: none;
    background-color: var(--background-selector);
    font: var(--font);
    cursor: pointer;
    user-select: none;
}

.elsy-dropdown .dropdown-arrow {
    margin-left: 10px;
    border-right: var(--arrow-size) solid transparent;
    border-left: var(--arrow-size) solid transparent;
    border-bottom: none;
    border-top: var(--arrow-size) solid black;
}

.elsy-dropdown ul {
    padding: 0;
    border-radius: var(--border-radius);
    list-style: none;
    margin: 0;
    max-height: 200px;
    overflow-y: auto;
    cursor: pointer;
}

.elsy-dropdown ul::-webkit-scrollbar {
    width: 10px;
}

.elsy-dropdown ul::-webkit-scrollbar-track {
    background: var(--background-scrollbar-track);
    border-bottom-right-radius: var(--border-radius);
}

.elsy-dropdown ul::-webkit-scrollbar-thumb {
    background: var(--background-scrollbar-thumb);
    border-bottom-right-radius: var(--border-radius);
}

.elsy-dropdown ul li {
    padding: 5px;
}

.elsy-dropdown ul li:hover {
    background-color: var(--background-hovered);
    color: var(--color-hovered);
}

.dropdown-hidden {
    display: none;
}
/*#endregion*/